/*variables*/

$primary-color:#9ea7aa; 
$secondary-color:#c5cae9;
$text-color:#1c313a;
$hover-color:#37474f;
$small-font: 10px;
$header-font-size: 30px;
$large-font: 50px;
$main-font:calibri;
$header-font:sans-serif;