/*variables*/
/*mixins*/
/*animations*/
@keyframes jobtitle {
  from {
    color: #37474f; }
  to {
    color: #c5cae9; } }
@keyframes slideIn {
  from {
    margin-bottom: 100%;
    width: 300%; }
  to {
    margin-top: 0%;
    width: 100%; } }
/*styles*/
#index {
  display: grid;
  width: 100%;
  grid-template-areas: 'navBar' 'home'; }

.navBar {
  grid-area: navBar;
  color: #c5cae9;
  background-color: white;
  font-size: 30px;
  font-family: calibri;
  width: 100%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: #37474f 4px solid; }

.navBar > .navBar-header {
  display: inline; }

.navBar > .navBar-header > .navBar-title {
  display: inline-block;
  font-size: 1.5rem;
  color: #c5cae9;
  padding: 0.5em 0.5em 0.5em 0em; }

.navBar > .navBar-btn {
  display: none; }

.navBar > .navBar-links {
  display: inline;
  float: right;
  font-size: 1.5rem; }

.navBar > .navBar-links > a {
  display: inline-block;
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-decoration: none;
  color: #c5cae9; }

.navBar > .navBar-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.navBar > #navBar-check {
  display: none; }

@media (max-width: 700px) {
  .navBar > .navBar-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px; }

  .navBar > .navBar-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px; }

  .navBar > .navBar-btn > label:hover, .navBar #navBar-check:checked ~ .navBar-btn > label {
    background-color: rgba(0, 0, 0, 0.3); }

  .navBar > .navBar-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee; }

  .navBar > .navBar-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px; }

  .navBar > .navBar-links > a {
    display: block;
    width: 100%; }

  .navBar > #navBar-check:not(:checked) ~ .navBar-links {
    height: 0px; }

  .navBar > #navBar-check:checked ~ .navBar-links {
    height: calc(100vh - 50px);
    overflow-y: auto; } }
.home {
  grid-area: home;
  width: 100%;
  background-image: url(img/wall.jpg);
  background-repeat: repeat-y; }
  .home img {
    width: 20rem;
    height: 25rem;
    border: 1px solid transparent;
    border-radius: 60%;
    display: block;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto; }
  .home h1 {
    text-align: center;
    text-transform: uppercase;
    color: #37474f;
    font-family: sans-serif;
    font-size: 3rem; }
  .home h2 {
    text-align: center;
    color: #c5cae9;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding-bottom: 15rem;
    animation-name: jobtitle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-image: url(wall.jpg);
  background-repeat: repeat-y;
  grid-template-areas: 'head head head' 'info info info' 'info info info' 'info info info'; }

.head {
  text-align: justify;
  grid-area: head; }

.head h2 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: #9ea7aa;
  font-family: sans-serif;
  animation: slideIn;
  animation-duration: 1s; }

.head i {
  text-align: center;
  color: #9ea7aa;
  align-content: center; }

.info {
  text-align: center; }

.info h3 {
  color: #9ea7aa;
  font-family: calibri;
  font-style: italic; }

.info p {
  text-align: center;
  color: #1c313a;
  font-family: calibri;
  padding-left: 30rem;
  padding-right: 30rem; }

.info i {
  color: #9ea7aa;
  font-size: 30px;
  letter-spacing: 10px; }

.info img {
  width: 15%;
  height: 15%;
  align-content: center;
  border-radius: 80%; }

@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-areas: 'head ' 'info ' 'info ' 'info '; }

  #index {
    display: grid;
    width: 100%;
    width: 100%;
    padding: 0;
    grid-template-areas: 'navBar' 'home'; }

  .info p {
    padding-left: 3rem;
    padding-right: 3rem; } }
@media screen and (max-width: 500px) {
  .container {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-areas: 'head' 'info' 'info' 'info'; }

  #index {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-areas: 'navBar ' 'home '; } }

/*# sourceMappingURL=output.css.map */
