/*variables*/
/*mixins*/
/*animations*/
@keyframes jobtitle {
  from {
    color: #37474f; }
  to {
    color: #c5cae9; } }
@keyframes slideIn {
  from {
    margin-bottom: 100%;
    width: 300%; }
  to {
    margin-top: 0%;
    width: 100%; } }
/*styles*/
#index {
  display: grid;
  width: 100vw;
  grid-template-areas: 'navBar' 'home'; }

.navBar {
  color: #c5cae9;
  font-size: 30px;
  font-family: calibri;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: #37474f 4px solid; }
  .navBar ul {
    list-style-type: none;
    padding: 0px 20px 10px 20px; }
  .navBar li {
    float: left;
    width: 20%;
    text-transform: uppercase; }
  .navBar a {
    display: block;
    padding: 5px 15px 5px 15px;
    color: inherit;
    text-decoration: none;
    text-align: center; }
  .navBar li a:hover {
    background-color: #37474f; }

.home {
  width: 100%;
  background-image: url(wall.jpg); }
  .home img {
    width: 20rem;
    height: 25rem;
    border: 1px solid transparent;
    border-radius: 60%;
    display: block;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto; }
  .home h1 {
    text-align: center;
    text-transform: uppercase;
    color: #37474f;
    font-family: sans-serif;
    font-size: 2rem; }
  .home h2 {
    text-align: center;
    color: #c5cae9;
    font-family: sans-serif;
    padding-bottom: 15rem;
    animation-name: jobtitle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-image: url(wall.jpg);
  grid-template-areas: 'head head head' 'info info info' 'info info info' 'info info info'; }

.head {
  text-align: justify; }

.head h2 {
  text-align: center;
  color: #9ea7aa;
  border-bottom: #37474f 4px solid;
  font-family: sans-serif;
  animation: slideIn;
  animation-duration: 1s; }

.head i {
  text-align: center;
  color: #9ea7aa;
  align-content: center; }

.info {
  text-align: center; }

.info h3 {
  color: #9ea7aa;
  font-family: calibri;
  font-style: italic; }

.info p {
  text-align: center;
  color: #9ea7aa;
  font-family: calibri;
  padding-left: 30rem;
  padding-right: 30rem; }

.info i {
  color: #9ea7aa;
  font-size: 30px;
  letter-spacing: 10px; }

.info img {
  width: 30%;
  height: 20%;
  align-content: center;
  border-radius: 60%; }

@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    width: 100vw;
    padding: 0;
    grid-template-areas: 'head' 'info' 'info' 'info'; }

  #index {
    display: grid;
    width: 100vw;
    padding: 0;
    grid-template-areas: 'navBar' 'home'; } }
@media screen and (max-width: 500px) {
  .container {
    display: grid;
    width: 100vw;
    padding: 0;
    grid-template-areas: 'head' 'info' 'info' 'info'; }

  #index {
    display: grid;
    width: 100vw;
    padding: 0;
    grid-template-areas: 'navBar' 'home'; } }

/*# sourceMappingURL=output.css.map */
